@use './../abstracts/variables';

button {
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.login-btn {
    width: 180px;
    margin: 2em 0;
    background-color: variables.$orange;
    color: white;
}

.signin-btn {
    width: 180px;
    margin: 2em 0;
    background-color: variables.$blue;
    color: white;
}

.btn-back {
    @extend .login-btn;
}

.btn-create {
    @extend .signin-btn;
}