@use "./../abstracts/variables";

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  input {
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    border: none;
    border-bottom: 1px solid variables.$black;
    border-radius: 5px;
    background-color: variables.$white;
    color: variables.$black;
    font-size: 16px;
  }

  textarea {
    width: 100%;
    height: 10em;
    margin-top: 1em;
    padding: 1em;
    border: none;
    border-bottom: 1px solid variables.$black;
    border-radius: 5px;
    background-color: variables.$white;
    color: variables.$black;
    font-size: 16px;
  }
}
