
$black: #24292e;
$beige: #fffebc;
$white: #ffffff;

$orange: #E96E35;

$peach: #FFDDCA;

$blue: #3B608D;

$login-form-bg: #F9EFED;
$login-form-border: #e1e4e8;
$login-border: #e1e4e8;


$color-bg: #f6f8fa;
