@use "./../abstracts/variables";

.login-layout {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px 1px 1px solid variables.$login-border;
  border-radius: 0 0 20px 20px;
  background-color: variables.$login-form-bg;
  box-shadow: 0 0 10px rgba(variables.$black, 0.1);

  h1 {
    padding: 0.7em 0;
    font-size: 2.4em;
    font-weight: 500;
  }

  .login {
    color: variables.$orange;
  }

  .signup {
    color: variables.$blue;
  }
}

// For screen width of 700px or more
@media (min-width: 700px) {
  .login-layout {
    max-width: 500px;
  }
}